<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload PDF</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        margin-top: 30vh;
      }
    </style>
  </head>
  <body>
    <div class="main">
      <h1>Upload PDF</h1>
      <form action="/upload/pdf" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".pdf" required />
        <button type="submit">Upload</button>
      </form>
    </div>
  </body>
</html>
